.img-right {
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.img-right img {
    max-height: 360px;
}
.banner-item {
    min-height: 500px;
}
.f-40 {
    font-size: 40px;
    line-height: 50px;
}
.f-20 {
    font-size: 20px;
}
.fw-700 {
    font-weight: 700;
}
.fw-600 {
    font-weight: 600;
}
@media (max-width: 992px) {
    .banner-item .img-right {
        position: relative!important;
        top: 0;
        transform: translate(0,0);
        text-align: center;

    }
    .img-right img {
        max-width: 100%;
    }
}

.container{
    margin-left:auto;
    margin-right:auto;
    margin-top:calc(calc(100vh - 405px)/2);
}
#form1{
    width:auto;
}
.alert{
    text-align:center;
}

#preview{
    max-height:256px;
    height:auto;
    width:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}
#img_container{
    border-radius:5px;
    margin-top:20px;
    width:auto;
}
.input-group {
    /*margin-left: calc(calc(100vw - 100%)/2);*/
    margin-top: 40px;
    width: 320px;
    margin-left: 0;
}
.imgInp{
    width:150px;
    margin-top:10px;
    padding:10px;
    background-color:#d3d3d3;
}
.loading{
    animation:blinkingText ease 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    50%{   color: #transparent; }
    99%{    color:transparent;  }
    100%{ color:#000; }
}
.custom-file-label{
    cursor:pointer;
}
.form-group label {
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    display: flex;
}

/*.form-check {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
.form-check label {
    font-size: 20px;
    font-weight: 500;

}


.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Chọn";
    align-items: center;
    display: flex;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}



